# Fichiers de build
build/

# Fichiers temporaires Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# IDEs
.idea/
.vscode/

# Fichiers temporaires d’édition
*.iml
*.lock
*.log
